<%= link_to "Back", root_path %>
<h1 style="margin-bottom: 0em"> <%= @task.title %> </h1>
<div style="font-style: italic; font-size: 0.85em"> 
    <% if @task.done? %> Done <% else %> Not done <% end %>
</div>
<p> <%= @task.desc %> </p>

<%= button_to "Edit task", edit_task_path(@task.id), method: "get" %>
<%= button_to "Delete task", task_path(@task.id), method: "delete", data: {
    turbo_confirm: "Are you sure?"
} %>